.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  caret-color: transparent;
}

.cricket{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
  background-color: rgba(51, 131, 153, 0.416);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
  text-align: center;
}

.button{
  background-color: rgba(7, 77, 138, 0.356);
  padding: 10px 20px 10px 20px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
